

.head{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    overflow: auto;
}

.block {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.text{
    width: 1000px;
    height: 1000px;
    position: absolute;
    text-align: left;
    top: 75%;
    left: 30%;
    margin: auto;
}

.table_moto_characteristic{
    width: 1000px;
    height: 1000px;
    text-align: center;
    top: 25%;
    left: 0;

}

title{
    text-align: center;
}

table {
	border-collapse:separate;
		border-spacing: 1px;
	border:1px solid rgb(0, 132, 255);
}

table td {
	border:1px solid rgba(104, 105, 107, 0.38);
}

.text_full{
    width: 1000px;
    height: 1000px;
    position: absolute;
    text-align: left;
    top: 210%;
    left: 30%;
    margin: auto;
}

.footer{
    width: 1000px;
    height: 1000px;
    position: absolute;
    text-align: left;
    top: 330%;
    left: 30%;
    margin: auto;
}


h4 {
    font-size: 20px;
    color: #4485b8;
  }
  th{
    color: #4485b8;
  }

  h5 {
    font-size: 20px;
    color: #4485b8;
  }
  th{
    color: #4485b8;
  }